<!DOCTYPE html>
<html lang="{{ language.code }}" dir="{{ theme.is_rtl ? 'rtl' : 'ltr' }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ theme.settings.set('placeholder', 'images/placeholder.png') }}

    {% block head_scripts %}{% endblock %}

    <script data-cfasync="false">
        window.header_is_sticky  = "{{ theme.settings.get('header_is_sticky', true) }}"
        window.enable_more_menu  = "{{ theme.settings.get('enable_more_menu', true) }}"
        window.enable_add_product_toast = "{{ theme.settings.get('enable_add_product_toast', true) }}"
        window.can_access_wallet = {{ user.can_access_wallet | json_encode }}
    </script>

    {% hook 'head:start' %}
    {% hook head %}
    {% block styles %}{% endblock %}

    <link rel="stylesheet" href="{{ 'app.css' | asset }}">
    <link rel="stylesheet" href="{{ theme.font.path | cdn }}"/>
    <link rel="stylesheet" href="{{ 'fonts/sallaicons.css' | cdn }}"/>

    <style>
        :root {
            --font-main: '{{ theme.font.name }}';
            --color-primary: {{ theme.color.primary }};
            --color-primary-dark: {{ theme.color.darker(0.15) }};
            --color-primary-light: {{ theme.color.lighter(0.15) }};
            --color-primary-reverse: {{ theme.color.reverse_text }};
        }
    </style>

    {% hook 'head:end' %}
</head>
<body id="app" class="murshd-theme
    {{ theme.settings.get('footer_is_dark') ? 'footer-is-dark' : 'footer-is-light' }}
    {{ theme.settings.get('topnav_is_dark') ? 'topnav-is-dark' : '' }}
    {{ theme.settings.get('sticky_add_to_cart') ? 'is-sticky-product-bar' : '' }}
    {% hook 'body:classes' %}">

<noscript>
    لتحصل على تجربة كاملة يرجى تفعيل JavaScript في متصفحك.
</noscript>

<div class="app-inner">
    {% hook 'body:start' %}

    {% component 'header.header' %}

    <main id="main-content" role="main">
        {% block content %}{% endblock %}
    </main>

    {% component 'footer.footer' %}
</div>

{% hook 'body:end' %}

{% if theme.settings.get('enable_add_product_toast', true) %}
    <salla-add-product-toast></salla-add-product-toast>
{% endif %}

<salla-offer-modal></salla-offer-modal>
<salla-search></salla-search>
<salla-login-modal></salla-login-modal>

{% if store.scope %}
    <salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}

<script defer crossorigin="anonymous" src="{{ 'app.js' | asset }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
